<!DOCTYPE html>
<html>
  <head>
    <title>MetrostavCms</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Admin engine</h1>
    <%= yield %>
  </body>
</html>
