<!DOCTYPE html>
<html>
<head>
  <title>Blueberry cms</title>
  <%= stylesheet_link_tag    "blueberry_cms/application", media: "all" %>
  <%= javascript_include_tag "blueberry_cms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Toda</h1>
<%= yield %>

</body>
</html>
